<!DOCTYPE html>
<html>
  <head>
    <title>Eventer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Eventer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
            <% if user_signed_in? %>
              <li class="nav-item">
              <%= link_to 'Event Top', events_path, {class: "nav-link"} %>
            </li>
              <li class="nav-item">
                 <%= link_to "ログアウト", destroy_user_session_path, class: "nav-link", method: :delete %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
          <% if user_signed_in? %>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <% end %>
        </div>
      </nav>
    </header>

    
    <%= yield %>
    <footer class="footer mt-auto py-3">
      
      <span class="text-muted">© 2020 Copyright:Eventer</span>

    </footer>
  </body>
</html>
